In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
def get_title_from_index(index):
	return df[df.index == index]["title"].values[0]

def get_index_from_title(title):
	return df[df.title == title]["index"].values[0]

In [3]:
#Read database and add index column if necessary
asmidf = pd.read_csv("datasetasmi/uploadedVideosEdited.csv")
# print(asmidf.shape)
# print(len(asmidf))
# asmidf['index']=range(1, len(asmidf) + 1)
asmidf.head()

   video_id                    detected_objects_withconfidence
0        46  Shirt:20|Trousers:20|Footwear:20|Handbag:20|Wa...
1        47  Shirt:0|Trousers:0|Footwear:0|Handbag:0|Watch:...
2        48  Shirt:8|Trousers:10|Footwear:7|Handbag:2|Watch...
3        49  Shirt:8|Trousers:10|Footwear:7|Handbag:2|Watch...
4        50  Shirt:9|Trousers:5|Footwear:3|Handbag:10|Watch...

In [4]:
classes = ["Shirt","Trousers","Footwear","Handbag","Watch","Guitar","Mobile_phone","Headphones","Hat","Sunglasses"]

#Create tuple list if necessary
# alltupleList=[]
# for i in range(0,len(asmidf)):
#     detectedobjectsstr=str(asmidf.iloc[i]['detected_objects_withconfidence'])
#     detectedobjectswithScore=detectedobjectsstr.split("|")

#     for eachobjectwithScore in detectedobjectswithScore:
#         if eachobjectwithScore.split(":")[0] in classes:
#             #( index that starts from 0 , class , score )
#             alltupleList.append( ( i , eachobjectwithScore.split(":")[0],int(eachobjectwithScore.split(":")[1])  ) )

# print(alltupleList)

In [5]:
#Generate a new dataframe with all the scores of detected objects

currentindex=0
def class_score(row):
    detectedobjectsstr=str(row['detected_objects_withconfidence'])
    detectedobjectswithScore=detectedobjectsstr.split("|")
    currentclass=classes[currentindex]
    
    for eachobjectwithScore in detectedobjectswithScore:
        if eachobjectwithScore.split(":")[0] in classes and eachobjectwithScore.split(":")[0]==currentclass:
            return int(int(eachobjectwithScore.split(":")[1]))

# newdf=asmidf[['video_id']].copy()
newdf = pd.DataFrame(columns = None)
for eachclass in classes:
    currentindex=classes.index(eachclass)
    newdf[eachclass]=asmidf.apply(class_score,axis=1)

# print(newdf.shape)
newdf.head()

# df.head()

,Shirt,Trousers,Footwear,Handbag,Watch,Guitar,Mobile_phone,Headphones,Hat,Sunglasses
0,20,20,20,20,20,20,20,20,20,20
1,0,0,0,0,0,0,0,0,0,0
2,8,10,7,2,9,5,3,4,6,1
3,8,10,7,2,9,5,3,4,6,1
4,9,5,3,10,6,1,4,2,7,8

In [6]:
from sklearn.metrics import pairwise_distances


#Use Cosine, if data is sparse (many ratings are undefined)
# metric="cosine"

#Use Euclidean, if your data is not sparse and the magnitude of the attribute values is significant
metric="euclidean"

similarity_max = 1-pairwise_distances(newdf, metric=metric)
pd.DataFrame(similarity_max)

,0,1,2,3,4,5,6,7,8,9,...,9993,9994,9995,9996,9997,9998,9999,10000,10001,10002
0,1.000000,-62.245553,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,...,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984,-45.743984
1,-62.245553,1.000000,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,...,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417,-18.621417
2,-45.743984,-18.621417,1.000000,1.000000,-12.638182,-14.099669,-8.273618,-8.797959,-13.212670,-10.916375,...,-8.797959,-7.717798,-10.747340,-13.966630,-7.944272,-10.916375,-10.661904,-14.811388,-8.899495,-15.124515
3,-45.743984,-18.621417,1.000000,1.000000,-12.638182,-14.099669,-8.273618,-8.797959,-13.212670,-10.916375,...,-8.797959,-7.717798,-10.747340,-13.966630,-7.944272,-10.916375,-10.661904,-14.811388,-8.899495,-15.124515
4,-45.743984,-18.621417,-12.638182,-12.638182,1.000000,-10.045361,-11.165525,-11.489996,-11.884099,-12.856406,...,-10.575837,-13.899664,-12.341664,-14.033296,-13.832397,-12.266499,-11.569805,-10.916375,-12.564660,-12.114877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,-45.743984,-18.621417,-10.916375,-10.916375,-12.266499,-12.784049,-11.328828,-10.916375,-12.490738,-14.811388,...,-15.431677,-7.485281,-7.602325,-14.748016,-9.198039,1.000000,-11.884099,-15.911535,-8.695360,-14.556349
9999,-45.743984,-18.621417,-10.661904,-10.661904,-11.569805,-9.954451,-10.224972,-13.628739,-11.489996,-13.491377,...,-12.266499,-12.341664,-11.489996,-11.247449,-14.099669,-11.884099,1.000000,-11.409674,-9.099505,-11.247449
10000,-45.743984,-18.621417,-14.811388,-14.811388,-10.916375,-10.575837,-15.000000,-12.784049,-8.055385,-10.135529,...,-9.770330,-14.165751,-14.099669,-6.745967,-15.431677,-15.911535,-11.409674,1.000000,-14.427249,-4.099020
10001,-45.743984,-18.621417,-8.899495,-8.899495,-12.564660,-10.045361,-8.273618,-12.038405,-13.000000,-12.856406,...,-11.569805,-9.677078,-4.477226,-13.899664,-11.649111,-8.695360,-9.099505,-14.427249,1.000000,-13.352700
10002,-45.743984,-18.621417,-15.124515,-15.124515,-12.114877,-9.770330,-15.970563,-11.328828,-6.615773,-12.038405,...,-10.224972,-12.856406,-12.856406,-8.486833,-14.165751,-14.556349,-11.247449,-4.099020,-13.352700,1.000000

In [7]:
#This function finds k similar video given the video_id and ratings matrix M
#Note that the similarities are same as obtained via using pairwise_distances
k=3
from sklearn.neighbors import NearestNeighbors

def getvideoindexfromvideoid(video_id,matrixwithvideoid):
#     for j in range(len(feature_matrix)):
    for j in range(matrixwithvideoid.shape[0]):
        if matrixwithvideoid.iloc[j]['video_id'] == video_id:
            return j
    return -1

def getvideoidfromindex(index,matrixwithvideoid):
    if index<=matrixwithvideoid.shape[0]:
        return matrixwithvideoid.iloc[index]['video_id']
    else:
        return -1

def findksimilarvideo(video_id, feature_matrix,matrixwithvideoid, metric = metric, k=k):
    similarities=[]
    indices=[]
    videoindex=getvideoindexfromvideoid(video_id,matrixwithvideoid)
    
    print("video_id: {}".format(video_id))
    print("videoindex: {}".format(videoindex))
    if videoindex==-1:
        print("Row with the video_id {} wasnot found.".format(video_id))
        return similarities,indices
    
    model_knn = NearestNeighbors(metric = metric, algorithm = 'brute') 
    model_knn.fit(feature_matrix)
    
    distances, indices = model_knn.kneighbors(feature_matrix.iloc[videoindex, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()
    print("Similarity coefficient : ",similarities)
    print("Index for similarity   : ",indices.flatten())
    
    print('{0} most similar videos for Video {1}:\n'.format(k,video_id))
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i] == videoindex:
            continue;
        else:
            print('video_index:{0} video_id:{1} with similarity of {2}'.format( indices.flatten()[i],getvideoidfromindex(indices.flatten()[i],matrixwithvideoid) ,similarities.flatten()[i]))
            
    return similarities,indices

In [8]:
similarities,indices = findksimilarvideo(48,newdf,asmidf, metric='euclidean',k=4)

video_id: 48
videoindex: 2
Similarity coefficient :  [ 1.          1.         -2.74165739 -3.         -3.24264069]
Index for similarity   :  [   3    2 8472 2054   50]
4 most similar videos for Video 48:

video_index:3 video_id:49 with similarity of 1.0
video_index:8472 video_id:8518 with similarity of -2.7416573867739413
video_index:2054 video_id:2100 with similarity of -3.0
video_index:50 video_id:96 with similarity of -3.2426406871192848

In [9]:
###################################Find which video was significant for the user#########################

#Read database and add index column if necessary
view_history_raw_df = pd.read_csv("datasetasmi/userViewHistories.csv")
# print(asmidf.shape)
# print(len(asmidf))
# asmidf['index']=range(1, len(asmidf) + 1)
view_history_raw_df.head()

   id  user_id  watched_video_id  watch_time_in_sec
0   1        1              9195                 74
1   2        1              7331                143
2   3        2              8403                192
3   4        2              6903                202
4   5        1              1758                 92

In [10]:
#Generate new dataframe with WatchCount(watch_count)

# sorted_view_history_rawdf = view_history_raw_df.sort_values(by=['watched_video_id'], ascending=True)
# print(sorted_view_history_rawdf)

unique_user_id_list =view_history_raw_df.user_id.unique()
unique_video_id_list =view_history_raw_df.watched_video_id.unique()
# print(len(unique_user_id_list))
# print(len(unique_video_id_list))

counter=0
# featured_view_history = pd.DataFrame(columns = ['user_id','watched_video_id','watch_count','total_watch_time'])

allrowsList=[]
for eachvideoid in unique_video_id_list:
    for eachuserid in unique_user_id_list:
        #Check conditions
        rowsthatsatisfy = view_history_raw_df[(view_history_raw_df['watched_video_id']==eachvideoid) & (view_history_raw_df['user_id']==eachuserid)]
#         print(rowsthatsatisfy)
        count=len(rowsthatsatisfy)
#         print(count)
        if count==0:
            continue
        totalwatchtime=rowsthatsatisfy['watch_time_in_sec'].sum()
        rowdict={'user_id':eachuserid,'watched_video_id':eachvideoid,'watch_count':count,'total_watch_time':totalwatchtime}
        allrowsList.append(rowdict.copy())
featured_view_history = pd.DataFrame(allrowsList)
# featured_view_history.head()
print(featured_view_history.shape)

# featured_view_history = featured_view_history.sort_values(by=['watched_video_id'], ascending=True)
featured_view_history.head()


# #Check conditions
# rowsthatsatisfy = view_history_raw_df[(view_history_raw_df['watched_video_id']==49) & (view_history_raw_df['user_id']==1)]
# print(rowsthatsatisfy)
# count=len(rowsthatsatisfy)
# print(count)
# totalwatchtime=rowsthatsatisfy['watch_time_in_sec'].sum()
# print(totalwatchtime)



##############add rows to dataframe

# rows_list = []
# for row in input_rows:

#         dict1 = {}
#         # get input row in dictionary format
#         # key = col_name
#         dict1.update(blah..) 

#         rows_list.append(dict1)
# df = pd.DataFrame(rows_list)


# rows_list = [{'id':99 , 'user_id':1 , 'watched_video_id':20 , 'watch_time_in_sec':50 },{'id':199 , 'user_id':2 , 'watched_video_id':40 , 'watch_time_in_sec':100 }]
# df = pd.DataFrame(rows_list)
# df.head()






        

# currentindex=0
# def class_score(row):
#     detectedobjectsstr=str(row['detected_objects_withconfidence'])
#     detectedobjectswithScore=detectedobjectsstr.split("|")
#     currentclass=classes[currentindex]
    
#     for eachobjectwithScore in detectedobjectswithScore:
#         if eachobjectwithScore.split(":")[0] in classes and eachobjectwithScore.split(":")[0]==currentclass:
#             return int(int(eachobjectwithScore.split(":")[1]))

# # newdf=asmidf[['video_id']].copy()
# newdf = pd.DataFrame(columns = None)
# for eachclass in classes:
#     currentindex=classes.index(eachclass)
#     newdf[eachclass]=asmidf.apply(class_score,axis=1)

# # print(newdf.shape)
# newdf.head()

(7909, 4)

   user_id  watched_video_id  watch_count  total_watch_time
0        1              9195            1                74
1        1              7331            1               143
2        1              8403            1                21
3        2              8403            1               192
4        2              6903            2               488

In [44]:
#Normalise the data according to average
word_count_avg=featured_view_history['watch_count'].mean()
watch_time_avg=featured_view_history['total_watch_time'].mean()
print("Average word count is : ",word_count_avg)
print("Average watch time is : ",watch_time_avg)

currentindex=0
current_class_name=''
def avg_out_score(row):
    return row[current_class_name]/avgList_forcolumns[currentindex]

columnsToBeNormalised=['watch_count','total_watch_time']
avgList_forcolumns = [word_count_avg,watch_time_avg]

normalisedf=featured_view_history[['user_id','watched_video_id','total_watch_time']].copy()

# normaliseddf = pd.DataFrame(columns = None)
for eachclass in columnsToBeNormalised:
    current_class_name=eachclass
    currentindex=columnsToBeNormalised.index(eachclass)
    normalisedf['avg_'+eachclass]=featured_view_history.apply(avg_out_score,axis=1)

watch_time_importance = 0.7
watch_count_importance = 0.3

def calculate_video_importance(row):
    return row['avg_watch_count']*watch_count_importance*row['avg_total_watch_time']*watch_time_importance

normalisedf['video_importance']=normalisedf.apply(calculate_video_importance,axis=1)

# normalisedf = normalisedf.sort_values(by=['video_importance'], ascending=False)
normalisedf.head()

Average word count is :  1.2643823492224049
Average watch time is :  188.69654823618663

,user_id,watched_video_id,total_watch_time,avg_watch_count,avg_total_watch_time,video_importance
0,1,9195,74,0.7909,0.392164,0.065134
1,1,7331,143,0.7909,0.757831,0.125867
2,1,8403,21,0.7909,0.111290,0.018484
3,2,8403,192,0.7909,1.017507,0.168997
4,2,6903,488,1.5818,2.586163,0.859066

In [55]:
##Find most important video
number_of_video=3

def findmostimportantvideo(user_id,dataframe,number_of_video=number_of_video):
    dataframe=dataframe[dataframe['user_id']==user_id]
    dataframe=dataframe.sort_values(by=['video_importance'], ascending=False)
    return dataframe.head(number_of_video)['watched_video_id'].values

In [56]:
requiredVideoIDList = findmostimportantvideo(1,normalisedf,number_of_video=2)
print(requiredVideoIDList)

[5336 7828]